{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column justify-content-start align-items-center mt-5 h-50">

    <div class="w-75">
        <div class="card text-center">
            <div class="card-header py-5">
              
            </div>
              {% if profile.profile_photo %}
                <img src="{{ profile.profile_photo.url }}" class="img-thumbnail border border-5 rounded-circle mx-auto" style="width: 200px; height: 200px; margin-top: -70px;" alt="{{ profile.username}}'s profile photo">
              {% else %}
                <img src="https://vectorified.com/images/no-profile-picture-icon-24.jpg" class="img-thumbnail border border-5 rounded-circle mx-auto" style="width: 200px; height: 200px; margin-top: -70px;" alt="no profile photo">
              {% endif %}
              
            <div class="card-body">
              <h3 class="card-title">
                {{ profile.first_name }} {{ profile.last_name}}
              </h3>
              <h5 class="card-title font-light">
                @{{ profile.username }}
              </h5>
              <p class="card-text">
                {{ profile.bio }}
              </p>
              
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="{% url 'edit-profile' %}" class="btn btn-primary w-100">Edit Profile</a>
              </li>
              <li class="list-group-item">
                <a href="#" class="btn btn-primary w-100">Change Password</a>
              </li>
            </ul>
          
            <div class="card-footer text-body-secondary py-3">
              <a href="{% url 'delete-profile' %}" class="btn btn-danger w-100">Delete my account</a>
            </div>
          </div>
    </div>
    

</div>
{% endblock content %}