<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg sticky-top bg-dark bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">TIGINI</a>

          <button class="navbar-toggler btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
              <li class="nav-item">
                <a class="nav-link link-light" aria-current="page" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light" href="#">My post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light" href="#">About</a>
              </li>
            </ul>
            {% if request.user.is_authenticated %}
              <div class="d-flex">
                <a href="{% url 'logout' %}">
                  <button type="button" class="btn btn-warning">Logout</button>
                </a>
              </div>
            {% else %}
              <div class="d-flex">
                <a href="{% url 'login' %}">
                  <button type="button" class="btn btn-primary">Login</button>
                </a>
              </div>
            {% endif %}

          </div>
        </div>
      </nav>


  <div class="vh-100">
    {% block content %}
    {% endblock %}
  </div>


    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Profile</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">My post</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2023 TIGINI by Schleidens.Dev</p>
      </footer>
    </div>
</body>
</html>